@charset "UTF-8";
/* リセットCSS
-----------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
-----------------------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f3f3f3;
  color: #3e3e3e;
  line-height: 1.45;
  font-weight: 500;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.util-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .util-title {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 767px) {
  .util-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .util-link-box {
    margin-top: 41px;
  }
}

@media screen and (max-width: 767px) {
  .util-link-box {
    margin-top: 38px;
  }
}

.util-link {
  display: inline-block;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .util-link {
    font-size: 2rem;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 767px) {
  .util-link {
    font-size: 1.8rem;
    letter-spacing: 3.6px;
  }
}

/*=========================================================
# header
======================================================== */
.header {
  background: #ffffff1a;
  height: 83px;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

@media screen and (max-width: 767px) {
  .header {
    height: 68px;
  }
}

@media screen and (min-width: 768px) {
  .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-logo a {
    display: inline-block;
    font-size: 2.3rem;
    color: #3e3e3e;
    font-weight: bold;
    margin: 20px 0 0 16px;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    line-height: 83px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav-item + .header-nav-item {
  margin-left: 40px;
}

.header-nav-link {
  font-size: 1.6rem;
  color: #3e3e3e;
  font-family: "Montserrat", sans-serif;
  position: relative;
  letter-spacing: -0.4px;
}

.header-nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -5.5px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border: 1px solid #3e3e3e;
  -webkit-transition: -webkit-transform 0.3s ease-in 0s;
  transition: -webkit-transform 0.3s ease-in 0s;
  transition: transform 0.3s ease-in 0s;
  transition: transform 0.3s ease-in 0s, -webkit-transform 0.3s ease-in 0s;
}

.header-nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/*=========================================================
# top
======================================================== */
.top {
  background: url(../images/mv.png) no-repeat 24% center/cover;
}

@media screen and (min-width: 768px) {
  .top {
    height: 648px;
  }
}

@media screen and (max-width: 767px) {
  .top {
    height: 667px;
  }
}

@media screen and (min-width: 768px) {
  .top-inner {
    padding-top: 228px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.top-content {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
  color: #3e3e3e;
}

@media screen and (min-width: 768px) {
  .top-content {
    max-width: 600px;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .top-content {
    padding: 221px 16px 0;
  }
}

.top-title {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .top-title {
    font-size: 3.2rem;
    line-height: 1.5;
    letter-spacing: 0.02px;
  }
}

@media screen and (max-width: 767px) {
  .top-title {
    font-size: 2.4rem;
    line-height: 1.66667;
  }
}

.top-text {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .top-text {
    font-size: 1.8rem;
    letter-spacing: 0.45px;
    line-height: 1.55556;
    margin-top: 27px;
  }
}

@media screen and (max-width: 767px) {
  .top-text {
    font-size: 1.4rem;
    margin-top: 21px;
  }
}

@media screen and (min-width: 768px) {
  .top-link-box {
    margin-top: 37px;
  }
}

@media screen and (max-width: 767px) {
  .top-link-box {
    margin-top: 26px;
    text-align: center;
  }
}

.top-link {
  display: inline-block;
  color: #fff;
  background: #ffaa3b;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  border-radius: 10px;
  letter-spacing: 0.45px;
  -webkit-transition: background-color 0.2s ease-in 0s;
  transition: background-color 0.2s ease-in 0s;
}

.top-link:hover {
  background: #f18900;
}

@media screen and (min-width: 768px) {
  .top-link {
    padding: 13px 50px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .top-link {
    padding: 12px 30px;
    font-size: 1.6rem;
  }
}

/*=========================================================
# news
======================================================== */
@media screen and (min-width: 768px) {
  .news {
    margin-top: 120px;
  }
}

@media screen and (max-width: 767px) {
  .news {
    margin: -40px 16px 0;
  }
}

.news .util-title {
  text-align: center;
}

.news .util-link-box {
  text-align: center;
}

.news .util-link {
  border: 1px solid #707070;
  color: #3e3e3e;
  width: 236px;
  height: 64px;
  line-height: 64px;
}

@media screen and (max-width: 767px) {
  .news .util-link {
    width: 268px;
    height: 54px;
    line-height: 54px;
  }
}

.news .util-link:hover {
  background: #3e3e3e;
  color: #fff;
}

.news-inner {
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .news-inner {
    padding: 57px 60px 40px 60px;
  }
}

@media screen and (max-width: 767px) {
  .news-inner {
    padding: 40px 0;
  }
}

.news-items {
  border-top: 1px solid #cecdcd;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .news-items {
    margin-top: 55px;
  }
}

@media screen and (max-width: 767px) {
  .news-items {
    margin-top: 34px;
  }
}

.news-item {
  border-bottom: 1px solid #cecdcd;
}

.news-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3e3e3e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in 0s;
  transition: background-color 0.2s ease-in 0s;
}

.news-item-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 17px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.news-item-link:hover {
  background: #4973ff1a;
}

@media screen and (min-width: 768px) {
  .news-item-link {
    padding: 38px 0;
  }
}

@media screen and (max-width: 767px) {
  .news-item-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 16px;
  }
}

.news-item-date {
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .news-item-date {
    font-size: 1.8rem;
    letter-spacing: 0.45px;
  }
}

@media screen and (max-width: 767px) {
  .news-item-date {
    font-size: 1.4rem;
    letter-spacing: 0.35px;
  }
}

.news-item-category {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
  border-radius: 50px;
  border: 2px solid #4973ff;
  background: #fff;
  white-space: nowrap;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .news-item-category {
    margin-left: 40px;
    padding: 3px 29px;
    font-size: 1.4rem;
    letter-spacing: 0.35px;
  }
}

@media screen and (max-width: 767px) {
  .news-item-category {
    margin-left: 24px;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    padding: 0 13px;
    letter-spacing: 0.3px;
  }
}

.news-item-text {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
}

@media screen and (min-width: 768px) {
  .news-item-text {
    margin-left: 40px;
    line-height: 1.55556;
    letter-spacing: 0.45px;
    font-size: 1.8rem;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .news-item-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 12px;
    line-height: 1.42857;
    font-size: 1.4rem;
    padding-right: 28px;
  }
}

/*=========================================================
# service
======================================================== */
.service {
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 400px, transparent 400px, transparent 100%);
}

@media screen and (min-width: 768px) {
  .service {
    margin-top: 120px;
    padding-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .service {
    margin-top: 60px;
    padding-top: 36px;
  }
}

.service .util-title {
  text-align: center;
  color: #fff;
}

.service-inner {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .service-inner {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .service-inner {
    margin: 38px 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .service-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 62px 45px;
  }
}

@media screen and (max-width: 767px) {
  .service-items {
    padding: 38px 16px;
  }
}

@media screen and (min-width: 768px) {
  .service-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
  .service-item + .service-item {
    margin-left: 90px;
  }
}

@media screen and (max-width: 767px) {
  .service-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .service-item + .service-item {
    margin-top: 40px;
  }
}

.service-item dt {
  font-weight: bold;
  padding-top: 70px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 4px;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .service-item dt {
    line-height: 1.4;
    padding-top: 68px;
  }
}

@media screen and (max-width: 767px) {
  .service-item dt {
    line-height: 1.2;
  }
}

.service-item:nth-child(1) dt {
  background: url(../images/service1.png) no-repeat top 12px center;
}

.service-item:nth-child(2) dt {
  background: url(../images/service2.png) no-repeat top 12px center;
}

.service-item:nth-child(3) dt {
  background: url(../images/service3.png) no-repeat top 12px center;
}

.service-item dd {
  text-align: left;
  margin-top: 12px;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
  line-height: 1.71429;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .service-item dd {
    margin-top: 14px;
  }
}

/*=========================================================
# results
======================================================== */
.results {
  background: #3e3e3e;
  max-width: calc(50vw + 600px);
}

@media screen and (min-width: 768px) {
  .results {
    padding: 56px 0 60px 62px;
    margin: 118px 0 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .results {
    padding: 38px 0 38px 16px;
    margin-top: 58px;
  }
}

@media screen and (max-width: 767px) {
  .results .util-link-box {
    text-align: center;
    margin-top: 25px;
  }
}

.results .util-title {
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .results .util-title {
    text-align: center;
    padding-right: 16px;
  }
}

.results .util-link-box {
  padding-right: 16px;
}

.results .util-link {
  color: #fff;
  border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  .results .util-link {
    width: 287px;
    height: 64px;
    line-height: 64px;
  }
}

@media screen and (max-width: 767px) {
  .results .util-link {
    width: 316px;
    height: 54px;
    line-height: 54px;
  }
}

.results .util-link:hover {
  background: #fff;
  color: #3e3e3e;
}

.results-inner {
  margin-top: 36px;
}

@media screen and (min-width: 768px) {
  .results-inner {
    margin-top: 55px;
  }
}

.results-item {
  background: #fff;
  width: 400px;
  height: 366px;
}

@media screen and (max-width: 767px) {
  .results-item {
    width: 274px;
    height: 253px;
  }
}

.results-item-img img {
  width: 100%;
}

.results-item-content {
  padding: 12px;
  color: #3e3e3e;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
}

.results-item-content .results-item-title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .results-item-content .results-item-title {
    font-size: 2rem;
  }
}

.results-item-content .results-item-text {
  margin-top: 5px;
  line-height: 1.5;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .results-item-content .results-item-text {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .results-item-content .results-item-text {
    letter-spacing: 0.01px;
  }
}

.results-pagination {
  position: static !important;
}

@media screen and (min-width: 768px) {
  .results-pagination {
    text-align: left;
    margin: 44px 0 0 -7px;
  }
}

@media screen and (max-width: 767px) {
  .results-pagination {
    text-align: center;
    margin: 27px 0 0 -5px;
  }
}

.swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination-bullet-active::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

/*=========================================================
# price
======================================================== */
@media screen and (min-width: 768px) {
  .price {
    max-width: 960px;
    width: 100%;
    margin: 118px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .price {
    margin: 40px auto 0;
    padding: 0 16px;
  }
}

.price .util-title {
  text-align: center;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #707070;
}

@media screen and (min-width: 768px) {
  .price-table {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .price-table {
    margin-top: 36px;
  }
}

.price-table th,
.price-table td {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  height: 58px;
  line-height: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .price-table th,
  .price-table td {
    font-size: 2rem;
    height: 54px;
    line-height: 54px;
  }
}

.price-table th {
  width: 27%;
  text-align: center;
  background: #3e3e3e;
  color: #fff;
}

.price-table td {
  padding-left: 43px;
}

@media screen and (max-width: 767px) {
  .price-table td {
    padding-left: 28px;
  }
}

.price-table tr:not(:first-child) th {
  border-top: 1px solid #fff;
}

.price-table tr:not(:first-child) td {
  border-top: 1px solid #3e3e3e;
}

.price-text {
  margin-top: 10px;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .price-text {
    margin-top: 5px;
  }
}

/*=========================================================
# bg-wrapper
======================================================== */
.bg-wrapper {
  position: relative;
}

.bg-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  background: #3e3e3e;
  width: 100%;
  top: 120px;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .bg-wrapper::before {
    top: 148px;
    bottom: 136px;
    width: 76.5625%;
  }
}

/*=========================================================
# comments
======================================================== */
.comments {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .comments {
    margin-top: 118px;
  }
}

@media screen and (max-width: 767px) {
  .comments {
    margin: 56px 16px 0;
  }
}

.comments-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.comments-box {
  background: #fff;
}

@media screen and (min-width: 768px) {
  .comments-box {
    padding: 116px 60px 120px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 666px;
            flex: 0 1 666px;
  }
}

@media screen and (max-width: 767px) {
  .comments-box {
    padding: 40px 20px 36px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.comments-items {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .comments-items {
    margin-top: 56px;
  }
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-item + .comments-item {
  margin-top: 34px;
}

@media screen and (min-width: 768px) {
  .comments-item + .comments-item {
    margin-top: 60px;
  }
}

.comments-item::before {
  display: block;
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  height: 56px;
  margin-right: 24px;
}

@media screen and (min-width: 768px) {
  .comments-item::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    height: 100px;
    margin-right: 32px;
  }
}

.comments-item:nth-child(1)::before {
  background: url(../images/comments1.png) no-repeat center center/contain;
}

.comments-item:nth-child(2)::before {
  background: url(../images/comments2.png) no-repeat center center/contain;
}

@media screen and (min-width: 768px) {
  .comments-item {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .comments-item {
    font-size: 1.4rem;
    line-height: 1.42857;
  }
}

.comments-img {
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .comments-img {
    display: none;
  }
}

.comments-img img {
  width: 100%;
}

/*=========================================================
# faq
======================================================== */
.faq {
  background: url(../images/qa-bg.png) no-repeat top center/cover;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .faq {
    margin-top: 118px;
    padding: 56px 0 110px;
  }
}

@media screen and (max-width: 767px) {
  .faq {
    margin-top: 60px;
    padding: 36px 16px 60px;
  }
}

.faq .util-title {
  text-align: center;
}

.faq-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .faq-inner {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .faq-inner {
    margin-top: 36px;
  }
}

@media screen and (min-width: 768px) {
  .faq-items {
    margin-left: auto;
    width: 612px;
  }
}

.faq-item {
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 16px;
}

.faq-item + .faq-item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .faq-item + .faq-item {
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .faq-item + .faq-item {
    margin-top: 23px;
  }
}

.faq-item-question {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
}

.faq-item-question:before {
  background: #4973ff;
  border-radius: 50%;
  color: #fff;
  content: "Q";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  font-family: "Montserrat", sans-serif;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
}

.faq-item-question-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  line-height: 1.5;
  margin-left: 15px;
  position: relative;
  letter-spacing: 0.025em;
  font-weight: bold;
}

.faq-item-question-text:before {
  background: #4973ff;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 15px;
  letter-spacing: normal;
}

.faq-item-question-text:after {
  background: #4973ff;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 15px;
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}

.faq-item.add-active .faq-item-question-text:after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.faq-item-answer {
  display: none;
  margin-top: 16px;
}

.faq-item-answer-text {
  background: rgba(73, 115, 255, 0.2);
  border-radius: 4px;
  line-height: 1.5;
  padding: 9px;
}

@media screen and (max-width: 767px) {
  .faq-item-answer-text {
    font-size: 1.4rem;
    line-height: 1.42857;
  }
}

/*=========================================================
# access
======================================================== */
.access {
  z-index: 1;
  position: relative;
}

.access .util-title {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .access {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 414px 1fr;
        grid-template-columns: 414px 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1200px;
    width: 100%;
    margin: 118px auto 0;
    padding-left: 60px;
  }
}

@media screen and (max-width: 767px) {
  .access {
    margin-top: 40px;
    padding: 0 16px 60px;
  }
}

.access .util-link {
  width: 314px;
  height: 64px;
  text-align: center;
}

.access-inner {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .access-inner {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media screen and (max-width: 767px) {
  .access-inner {
    text-align: left;
  }
}

.access-address {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
}

@media screen and (min-width: 768px) {
  .access-address {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 49px;
  }
}

@media screen and (max-width: 767px) {
  .access-address {
    font-size: 1.4rem;
    line-height: 1.42857;
    margin-top: 34px;
  }
}

@media screen and (min-width: 768px) {
  .access-map {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 3 / 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 746px;
            flex: 0 1 746px;
    height: 520px;
  }
}

@media screen and (max-width: 767px) {
  .access-map {
    height: 241px;
    margin-top: 20px;
  }
}

.access-map iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .access-link-box {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 29px;
  }
}

@media screen and (max-width: 767px) {
  .access-link-box {
    text-align: center;
  }
}

.access-link-box .util-link {
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: bold;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.access-link-box .util-link:hover {
  background: #fff;
  color: #3e3e3e;
}

@media screen and (min-width: 768px) {
  .access-link-box .util-link {
    font-size: 2rem;
    letter-spacing: 2px;
    width: 314px;
    height: 64px;
    line-height: 64px;
  }
}

@media screen and (max-width: 767px) {
  .access-link-box .util-link {
    letter-spacing: 1.8px;
    font-size: 1.8rem;
    width: 339px;
    height: 54px;
    line-height: 54px;
    margin-top: 24px;
  }
}

/*=========================================================
# contact
======================================================== */
.contact {
  background: url(../images/contact-bg.png) no-repeat top center/cover;
  padding: 40px 16px;
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 120px;
    padding: 60px 40px;
  }
}

.contact .util-title {
  color: #fff;
  text-align: center;
}

.contact-inner {
  background: #fff;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  overflow: hidden;
}

.contact-header {
  background: url(../images/contact1.png) no-repeat top center/cover;
}

@media screen and (min-width: 768px) {
  .contact-header {
    padding: 57px 0;
  }
}

@media screen and (max-width: 767px) {
  .contact-header {
    padding: 36px 16px;
  }
}

.contact-header-text {
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact-header-text {
    margin-top: 8px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .contact-header-text {
    line-height: 1.42857;
    font-size: 1.4rem;
    margin-top: 8px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .contact-content {
    padding: 70px 120px 60px;
  }
}

@media screen and (max-width: 767px) {
  .contact-content {
    padding: 36px 12px 40px;
  }
}

.contact-item {
  font-size: 1.6rem;
}

.contact-item + .contact-item {
  margin-top: 33px;
}

@media screen and (min-width: 768px) {
  .contact-item:not(.contact-message) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item input[type="text"], .contact-item input[type="email"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  width: 100%;
  border-bottom: 1px solid #707070;
  font-size: 1.6rem;
  outline: none;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .contact-item input[type="text"], .contact-item input[type="email"] {
    padding-left: 12px;
  }
}

@media screen and (max-width: 767px) {
  .contact-item input[type="text"], .contact-item input[type="email"] {
    font-size: 1.4rem;
  }
}

.contact-item input[type="text"]:hover, .contact-item input[type="email"]:hover {
  border-bottom: 1px solid #4973ff;
  -webkit-box-shadow: 0 5px 4px -4px #4973ff80;
          box-shadow: 0 5px 4px -4px #4973ff80;
}

.contact-item input[type="text"]:focus, .contact-item input[type="email"]:focus {
  border-bottom: 1px solid #4973ff;
  -webkit-box-shadow: 0 5px 4px -4px #4973ff80;
          box-shadow: 0 5px 4px -4px #4973ff80;
}

.contact-item select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border: solid 1px #3e3e3e;
  border-radius: 0;
  color: #3e3e3e;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 34px 0 8px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

@media screen and (min-width: 768px) {
  .contact-item select {
    width: 260px;
  }
}

@media screen and (max-width: 767px) {
  .contact-item select {
    width: 100%;
    font-size: 1.4rem;
    line-height: 38px;
    height: 38px;
  }
}

.contact-item select:hover {
  border: 1px solid #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff80;
          box-shadow: 0 0 4px #4973ff80;
}

.contact-item textarea {
  border: none;
  border: 1px solid #707070;
  width: 100%;
  resize: vertical;
  height: 200px;
  margin-top: 5px;
  font-size: 1.6rem;
  outline: none;
  padding: 12px;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

@media screen and (max-width: 767px) {
  .contact-item textarea {
    height: 160px;
  }
}

.contact-item textarea:focus {
  border: 1px solid #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff80;
          box-shadow: 0 0 4px #4973ff80;
}

.contact-item textarea:hover {
  border: 1px solid #4973ff;
  -webkit-box-shadow: 0 0 4px #4973ff80;
          box-shadow: 0 0 4px #4973ff80;
}

.contact-item-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .contact-item-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 188px;
            flex: 0 0 188px;
  }
}

.contact-required {
  font-size: 1.2rem;
  background: #ff4646;
  color: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  margin-left: 12px;
}

@media screen and (max-width: 767px) {
  .contact-required {
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contact-item-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact-item-input {
    margin-top: 3px;
  }
}

.contact-select-box {
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-select-box {
    margin-top: 12px;
  }
}

.contact-select-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  right: 16px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #3e3e3e;
  border-bottom: 2px solid #3e3e3e;
  width: 8px;
  height: 8px;
}

@media screen and (min-width: 768px) {
  .contact-item-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item-radio [type="radio"] {
  display: none;
}

.contact-item-radio span {
  padding-left: 20px;
  display: inline-block;
  position: relative;
  margin-right: 40px;
}

.contact-item-radio span:hover::before {
  border: 1px solid #3b69ff;
  -webkit-box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}

.contact-item-radio span:active::before {
  border: 1px solid #3b69ff;
  background: #4973ff33;
}

.contact-item-radio span::before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  border-radius: 50px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-item-radio span::after {
  content: "";
  display: block;
  position: absolute;
  background: #4973ff;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.contact-item-radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-privacy {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .contact-privacy {
    margin-top: 26px;
  }
}

.contact-privacy [type="checkbox"] {
  display: none;
}

.contact-privacy span {
  display: inline-block;
  padding-left: 40px;
  font-size: 1.8rem;
  position: relative;
  font-weight: bold;
}

.contact-privacy span:hover::before {
  border: 1px solid #3b69ff;
  -webkit-box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}

.contact-privacy span:active::before {
  border: 1px solid #3b69ff;
  background: #4973ff33;
}

@media screen and (max-width: 767px) {
  .contact-privacy span {
    font-size: 1.6rem;
  }
}

.contact-privacy span::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #3e3e3e;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-privacy span::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #4973ff;
  border-bottom: 2px solid #4973ff;
  width: 13px;
  height: 6px;
  top: 12px;
  left: 3px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  display: none;
}

.contact-privacy [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-button-box {
  margin-top: 36px;
}

@media screen and (max-width: 767px) {
  .contact-button-box {
    text-align: center;
    margin-top: 30px;
  }
}

.contact-button {
  background: #ffaa3b;
  color: #fff;
  border-radius: 10px;
  width: 173px;
  height: 50px;
  line-height: 50px;
  font-size: 1.8rem;
  letter-spacing: 0.45px;
  text-align: center;
  font-weight: bold;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media screen and (max-width: 767px) {
  .contact-button {
    width: 165px;
    height: 48px;
    line-height: 48px;
  }
}

.contact-button:hover {
  background: #f18900;
}

.contact-button:disabled {
  background: #b2b2b2;
}

/*=========================================================
# footer
======================================================== */
.footer {
  background: #3e3e3e;
  padding: 56px 40px;
}

@media screen and (min-width: 768px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .footer-inner {
    text-align: center;
  }
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-sns-item + .footer-sns-item {
    margin-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .footer-sns-item + .footer-sns-item {
    margin-left: 50px;
  }
}

.footer-sns-link {
  color: #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.footer-sns-link:hover {
  opacity: 1;
}

.footer-nav-list {
  margin-top: 40px;
}

.footer-nav-item + .footer-nav-item {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .footer-nav-item + .footer-nav-item {
    margin-top: 20px;
  }
}

.footer-nav-link {
  color: #fff;
}

.footer-nav-link:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .footer-nav-link {
    font-size: 1.6rem;
    letter-spacing: 0.4px;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav-link {
    font-size: 1.4rem;
    letter-spacing: 0.35px;
  }
}

@media screen and (min-width: 768px) {
  .footer-company {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer-company {
    margin-top: 36px;
  }
}

.footer-logo {
  color: #e3e3e3;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .footer-logo {
    font-size: 3.2rem;
  }
}

.footer-copyright {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3px;
  font-size: 1.2rem;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    margin-top: 5px;
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    margin-top: 5px;
    text-align: center;
  }
}

/*=========================================================
# drawer
======================================================== */
.drawer-icon {
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 2000;
  display: none;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon-bars1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon-bars2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon-bars3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon-bars {
  width: 26px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon-bars1,
.drawer-icon-bars2,
.drawer-icon-bars3 {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 26px;
  height: 4px;
  border-radius: 50px;
}

.drawer-icon-bars1.is-active,
.drawer-icon-bars2.is-active,
.drawer-icon-bars3.is-active {
  background: #fff;
}

.drawer-icon-bars1 {
  top: 0;
}

.drawer-icon-bars2 {
  top: 8px;
}

.drawer-icon-bars3 {
  top: 16px;
}

.drawer-content {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1999;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content-items {
  padding-top: 32px;
}

.drawer-content-item + .drawer-content-item {
  margin-top: 32px;
}

.drawer-content-item a {
  display: block;
  color: #000;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  -webkit-transition: opacity 0.5;
  transition: opacity 0.5;
}

.drawer-content-item a:hover {
  opacity: 0.5;
}

.drawer-background {
  background: #3e3e3e;
  opacity: 0.7;
  position: fixed;
  z-index: 1998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.drawer-background.is-active {
  display: block;
}

/*=========================================================
# to-top
======================================================== */
.to-top {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1001;
}

@media screen and (max-width: 767px) {
  .to-top {
    bottom: 14px;
    right: 14px;
  }
}

.to-top img {
  width: 50px;
  height: 50px;
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
}

/*=========================================================
# privacy
======================================================== */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
}

.modal-bg {
  background: #000;
  opacity: 0.7;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal-wrapper {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
}

@media screen and (max-width: 767px) {
  .modal-wrapper {
    width: 90%;
  }
}

.modal-title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.modal-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  border-bottom: 1px solid #000;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-content {
  overflow: auto;
  height: 50px;
  margin-top: 20px;
  text-align: left;
  height: 200px;
}

.modal-content-title {
  font-size: 1.4rem;
  margin-top: 20px;
  padding-left: 10px;
  position: relative;
}

.modal-content-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 3px;
  background: #000;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-content-text {
  font-size: 1.2rem;
  line-height: 1.2;
}

.js-modal-box {
  margin-top: 20px;
  text-align: center;
}

.js-modal-box .js-modal-close {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  background: #3e3e3e;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.js-modal-box .js-modal-close:hover {
  opacity: 0.7;
}
